<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 border border-success">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="mt-4">
        <!-- First Name -->
        <div class="form-group">
          <label for="firstName">First Name<span class="text-danger">*</span></label>
          <input id="firstName" formControlName="first_name" class="form-control">
          <div *ngIf="registrationForm.get('first_name')?.invalid && registrationForm.get('first_name')?.touched" class="text-danger">
            First Name is required
          </div>
        </div>
      
        <!-- Last Name -->
        <div class="form-group">
          <label for="lastName">Last Name<span class="text-danger">*</span></label>
          <input id="lastName" formControlName="last_name" class="form-control">
          <div *ngIf="registrationForm.get('last_name')?.invalid && registrationForm.get('last_name')?.touched" class="text-danger">
            Last Name is required
          </div>
        </div>
      
        <!-- Date of Birth -->
        <div class="form-group">
          <label for="dob">Date of Birth<span class="text-danger">*</span></label>
          <input id="dob" formControlName="date_of_birth" type="date" class="form-control">
          <div *ngIf="registrationForm.get('date_of_birth')?.invalid && registrationForm.get('date_of_birth')?.touched" class="text-danger">
            Date of Birth is required in dd-mm-yyyy format
          </div>
        </div>
      
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email<span class="text-danger">*</span></label>
          <input id="email" formControlName="email" class="form-control">
          <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="text-danger">
            <div *ngIf="registrationForm.get('email')?.hasError('required')">Email is required</div>
            <div *ngIf="registrationForm.get('email')?.hasError('email')">Email is invalid</div>
            <div *ngIf="emailTaken">Email already exists</div>
          </div>
        </div>
      
        <!-- Address Group -->
        <div formGroupName="address">
          <div class="form-group">
            <label for="address">Address<span class="text-danger">*</span></label>
            <textarea id="address" formControlName="street" class="form-control"></textarea>
            <div *ngIf="registrationForm.get('address.street')?.invalid && registrationForm.get('address.street')?.touched" class="text-danger">
              Address is required
            </div>
          </div>
        
          <div class="form-group">
            <label for="state">State<span class="text-danger">*</span></label>
            <select id="state" formControlName="state"  class="form-control">
              <!-- (change)="onStateChange($event)" -->
              <option  value=""disabled selected>select state</option>
              <option  value="kerala">kerala</option>
              <option  value="tamil">tamilnadu</option>
              <option  value="karnataka">karnataka</option>



            </select>
            <div *ngIf="registrationForm.get('address.state')?.invalid && registrationForm.get('address.state')?.touched" class="text-danger">
              State is required
            </div>
          </div>
        
          <div class="form-group">
            <label for="city">City<span class="text-danger">*</span></label>
            <select id="city" formControlName="city" class="form-control">
              <option value="" disabled selected>select city</option>
              <option value="thrissur" >thrissur</option>
              <option vale="kollam" >kollam</option>


            </select>
            <div *ngIf="registrationForm.get('address.city')?.invalid && registrationForm.get('address.city')?.touched" class="text-danger">
              City is required
            </div>
          </div>
        
          <div class="form-group">
            <label for="pincode">Pincode<span class="text-danger">*</span></label>
            <input id="pincode" formControlName="pincode" type="number" class="form-control">
            <div *ngIf="registrationForm.get('address.pincode')?.invalid && registrationForm.get('address.pincode')?.touched" class="text-danger">
              Pincode must be 6 digits
            </div>
          </div>
        </div>
      
        <!-- Subjects -->
        <div class="form-group">
          <label>Subjects<span class="text-danger">*</span></label>
          <div class="radio-group" style="display: flex; align-items: center;">
            <label class="radio-label">
              <input type="checkbox" (change)="onSubjectChange($event)" value="Math">
              Math
            </label>
            <label class="radio-label">
              <input type="checkbox" (change)="onSubjectChange($event)" value="Science">
              Science
            </label>
            <label class="radio-label">
              <input type="checkbox" (change)="onSubjectChange($event)" value="English">
              English
            </label>
          </div>
          <!-- <div *ngFor="let subject of subjects" class="form-check">
            <input type="checkbox" (change)="onSubjectChange($event)" [value]="subject.id" class="form-check-input"> 
            <label class="form-check-label">{{ subject.name }}</label>
          </div> -->
          <div *ngIf="registrationForm.get('subjects')?.invalid && registrationForm.get('subjects')?.touched" class="text-danger">
            At least one subject is required
          </div>
        </div>
      
        <!-- Previous Educational Details -->
        <!-- <div formArrayName="previousEducation">
          <label>Previous Educational Details</label>
          <button type="button" (click)="addEducation()" class="btn btn-outline-success">Add</button>
          <div *ngFor="let edu of previousEducation.controls; let i=index" [formGroupName]="i" class="mt-3">
            <div class="form-group">
              <label for="school">School</label>
              <input id="school" formControlName="school" class="form-control">
              <div *ngIf="edu.get('school')?.invalid && edu.get('school')?.touched" class="text-danger">
                School is required
              </div>
            </div>
          
            <div class="form-group">
              <label for="yearStart">Year of Start</label>
              <input id="yearStart" formControlName="yearStart" type="date" class="form-control">
              <div *ngIf="edu.get('yearStart')?.invalid && edu.get('yearStart')?.touched" class="text-danger">
                Year of Start is required in dd-mm-yyyy format
              </div>
            </div>
          
            <div class="form-group">
              <label for="yearEnd">Year of End</label>
              <input id="yearEnd" formControlName="yearEnd" type="date" class="form-control">
              <div *ngIf="edu.get('yearEnd')?.invalid && edu.get('yearEnd')?.touched" class="text-danger">
                Year of End is required in dd-mm-yyyy format
              </div>
            </div>
          
            <button type="button" (click)="removeEducation(i)" class="btn btn-danger">Remove</button>
          </div>
        </div>
      
    <button type="submit"  class="btn btn-success mt-3" >Submit</button>
         <button  class="btn btn-success mt-3" >Submit</button> -->

        <!-- [disabled]="registrationForm.invalid" -->

        <button type="submit"  class="btn btn-success mt-3" >Submit</button>

      </form>
    </div>
  </div> 
</div>
