<div class="container" *ngIf="student">
  <div class="card mb-4" style="background-color: #f8f9fa;">
    <div class="card-header bg-primary text-white">
      <div class="row">
        <div class="col">
          <h2 class="card-title mb-0">Student Details</h2>
        </div>
        <div class="col text-end">
          <button class="btn btn-outline-success" type="button" [routerLink]="['']">Go back</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item"><strong>First Name:</strong> {{ student.first_name }}</li>
            <li class="list-group-item"><strong>Last Name:</strong> {{ student.last_name }}</li>
            <li class="list-group-item"><strong>Date of Birth:</strong> {{ student.date_of_birth|date:'dd-MM-yyyy' }}</li>
            <li class="list-group-item"><strong>Email:</strong> {{ student.email }}</li>
          </ul>
          <!-- {{date | date: 'ddMMyyyy'}} -->
        </div>
        <div class="col-md-6">
          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item"><strong>Address:</strong> {{ student.street }}</li>
            <li class="list-group-item"><strong>State:</strong> {{ student.state }}</li>
            <li class="list-group-item"><strong>City:</strong> {{ student.city }}</li>
            <li class="list-group-item"><strong>Pincode:</strong> {{ student.pincode }}</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <h3 class="mb-3">Subjects</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let subject of student.subjects">
              <span class="bullet">&#8226;</span> {{ subject }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
